<?xml version="1.0" ?>
<robot name="bogson" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="file" value="${(find lab2)/parameters.yaml}" />
	<xacro:property name="parameters" value="${load_yaml(file)}" />

	<xacro:property name="a1" value="${parameters['a1']}" />
	<xacro:property name="a2" value="${parameters['a2']}" />
	<xacro:property name="a3" value="${parameters['a3']}" />

</robot>